$color-white-50: #FFFFFF;
$color-white-100: #ECF4FF;
$color-white-200: #e3e3e3;
$color-white-250: #D9DCE5;

$color-yellow-50: #FFB624;

$color-orange-100: #EF5423;

$color-aqua-500: #506E71;
$color-aqua-600: #305F64;
$color-aqua-700: #244D4D;
$color-aqua-800: #154444;

$color-black-600: #919090;
$color-black-550: #7F7F7F;
$color-black-500: #808080;
$color-black-400: #666666;
$color-black-200: #383738;
$color-black-100: #161616;
$color-black-50: #000000;